<nav class="navbar navbar-inverse" id="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-home" aria-hidden="true"></i>  Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Over Jobkit <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about/about">Korte Uitleg</a></li>
                        <li><a href="/about/faq">FAQ</a></li>
                        <li><a href="/about/contact">Contact</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                {{# if login }}

                <li><a href="/job-cart"><i class="fa fa-sign-language" aria-hidden="true"></i> Gekozen Jobs </a></li>

                <li><a href="/job-admin"><i class="fa fa-male" aria-hidden="true"></i><i class="fa fa-female" aria-hidden="true"></i> Aangeboden Jobs </a></li>

                {{/if}}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> Mijn Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {{# if login }}
                            <li><a href="/user/profile">Mijn Profiel</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout">Uitloggen</a></li>
                        {{ else }}
                            <li><a href="/user/signup">Aanmelden</a></li>
                            <li><a href="/user/signin">Inloggen</a></li>
                        {{/if}}

                    </ul>
                </li>
            </ul>

        </div>
    </div>
</nav>
