<div class="row">
    <div class="col-md-6 col-md-offset-3">

<h1>Wat is Jobkit?</h1>
        <br>
<p>Jobkit is een plaats waar mensen die iemand zoeken voor een klusje en mensen die willen werken, elkaar ontmoeten.</p>
<p>Maak eerst een profiel aan en daarna kan je aan de slag. Of je plaatst een klusje en wacht tot kandidaten reageren, of je grasduint door de klusjes in jouw buurt en kijkt waar je kan helpen.</p>
<p>Klusjes kunnen betalend of vrijwillig zijn, aan u de keuze.</p>
<p>De opdrachtgever kiest zelf, op basis van de profielpagina's, de geschikte kandidaat uit. Bij de keuze van een kandidaat wordt het emailadres vrijgegeven en wordt onderling verder afgesproken.</p>
        <br>
<p>Veel succes!<br>Team Jobkit</p>

    </div>
</div>
